.music-page {
  padding: 2rem;
  background: #fdf6f6;
  padding-bottom: 100px;
  text-align: left; /* chuyển về trái */
}

.back-link {
  display: inline-block;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #cc8899;
  text-decoration: none;
  transition: color 0.2s;
}

.back-link:hover {
  color: #a86677;
}

.music-heading {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #cc8899;
  text-align:center;
}

.playlist-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* tối đa 4 playlist trên 1 dòng */
  gap: 2rem; /* khoảng cách giữa các thẻ */
}

.playlist-card {
  background: #fff;
  border-radius: 12px;
  padding: 0.75rem; /* giảm padding để khung gọn hơn */
  text-decoration: none;
  color: #333;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  line-height: 1; /* tăng khoảng cách dòng để chữ không bị dính */
  font-size: 0.95rem; /* giảm nhẹ kích thước chữ nếu cần */
  overflow: hidden; /* tránh tràn nội dung */
}


.playlist-card:hover {
  transform: scale(1.05);
}

.playlist-thumb {
  width: 100%;
  height: 400px;
  border-radius: 8px;
  margin-bottom: 1rem;
  object-fit: cover;
}

.playlist-title {
  font-size: 1.5rem;
  color: #cc8899;
  text-align: center;
}
